<div class="flex-1 max-md:flex-none max-md:h-[50vh] max-md:border-b-2 max-md:border-[#ddd] max-md:overscroll-none bg-[#e3e5e8] flex flex-col items-center justify-center p-5 overflow-auto relative touch-none" id="previewPane">
  @if (!stateService.isLoaded()) {
    <div class="text-[#666]">請從右側選單載入檔案</div>
  }

  <div class="relative max-w-[800px] shadow-md w-full flex justify-center items-center bg-white max-md:min-h-[300px] overflow-hidden">
    <canvas #previewCanvas class="max-w-full block bg-white max-h-[70vh]"></canvas>
    @if (stateService.usageMode() === 'idcard') {
      <app-safe-zone-box></app-safe-zone-box>
    }
  </div>
</div>
