<label class="font-bold text-(--color-primary) block mb-2">🛡️ 浮水印用途：</label>
<div class="flex bg-[#eee] rounded p-[2px] mb-2.5">
  <button 
    [class]="getBtnClass('general')"
    (click)="setUsageMode('general')">
    📄 一般文件
  </button>
  <button 
    [class]="getBtnClass('idcard')"
    (click)="setUsageMode('idcard')">
    🪪 證件保護
  </button>
</div>
@if (stateService.usageMode() === 'idcard') {
  <div class="text-[12px] text-[#d9534f] mt-[5px]">
    💡 請在左側預覽圖上，調整紅色框框位置，框選處將<b>不會</b>加上浮水印。
  </div>
}
