@import "tailwindcss";

@theme {
  --color-primary: #2b579a;
  --color-bg: #f3f2f1;
  --color-panel-bg: #ffffff;
  --color-border: #e1dfdd;
}

body {
  font-family: "Segoe UI", "Noto Sans TC", sans-serif;
  background-color: var(--color-bg);
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: hidden;
}

.bottom-safe-80 {
  bottom: 80px;
}

@supports (padding-bottom: env(safe-area-inset-bottom)) {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .bottom-safe-80 {
    bottom: calc(80px + env(safe-area-inset-bottom));
  }
}
